.movies-container {
    width: 100%;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    gap: 2%;
}