.fav-star-disabled {
    width: 4em;
    height: 4em;
    background: url('../assets/img/fav-disabled.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.fav-star-enabled {
    width: 4em;
    height: 4em;
    background: url('../assets/img/fav-enabled.png');
    background-repeat: no-repeat;
    background-size: cover;
}