
.favStarDisabled {
    position: absolute;
    background-image: url(/src/assets/img/fav-disabled.png);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 70px;
    top: 10px;
    right: 0px;
    left: 10px;
    margin: auto;
    z-index: 1000;
    opacity: .7;
}
.favStarEnabled {
    position: absolute;
    background-image: url(/src/assets/img/fav-enabled.png);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 70px;
    top: 10px;
    right: 0px;
    left: 10px;
    margin: auto;
    z-index: 1000;
}

