nav {
    height: 40px;
    background-color: #212529;
    padding: 8px 0;
}

.contenedor-flex-nav {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn-home a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.link-ul-menu {
    background: transparent;
    color: rgba(255, 255, 255, .55);
    transition: .3s;
}

.link-ul-menu:hover {
    color: rgba(255, 255, 255, .75);
    transition: .3s;
}

.menu-hamburguesa {
    background: url('../assets/img/menu-hamb.png') no-repeat center;
    background-size: 25px;
    width: 54px;
    height: 38px;
    border: 1px solid #383B3F;
    border-radius: 5px;
}

.menu-hamb-selected {
    background: url('../assets/img/menu-hamb.png') no-repeat center;
    background-size: 25px;
    width: 54px;
    height: 38px;
    border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, .65);
}

.container-menu-lg-oculto {
    display: none;
    transition: 1s;
}

.container-menu-lg-deployed {
    background-color: #212529;
    padding-bottom: 10px;
    transition: 1s;
}

.menu-lg-oculto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 18px;
}

.ul-menu li {
    list-style: none;
}

.ul-menu a {
    font-size: 16px;
    text-decoration: none;
}

.cont-form-menu form {
    display: flex;
    flex-direction: row;
}

.input-search {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: .5rem;
    transition: .1s;
}

.input-search:focus {
    outline: 4px solid #1C375F;
    transition: .1s;
}

.input-search::placeholder {
    font-size: 15px;
}

.btn-search {
    flex-shrink: 0;
    width: 73px;
    height: 38px;
    border-radius: 5px;
    background-color: #212529;
    color: #0DCAF0;
    border: 1px solid #0DCAF0;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.btn-search:hover {
    background-color: #0DCAF0;
    color: #212529;
    transition: .2s;
}

.menu-lg {
    display: none;
}

@media (min-width: 992px) {
    .menu-hamburguesa {
        display: none;
    }

    .menu-lg {
        display: flex;
        width: 88%;
        justify-content: space-between;
        align-items: center;
    }

    .cont-form-menu form {
        display: flex;
        flex-direction: row;
    }

    .input-search {
        background-color: rgb(167, 167, 167);
        width: 50px;
        height: 38px;
        border: none;
        border-radius: 5px;
        padding: 6px 12px;
        margin-right: .5rem;
        transition: .5s;
    }

    .input-search:focus {
        background-color: #fff;
        width: 227px;
        outline: 4px solid #1C375F;
        transition: .5s;
    }

    .input-search:focus::placeholder {
        text-align: left;
        transition: .5s;
    }

    .input-search::placeholder {
        font-size: 16px;
        text-align: center;
        transition: .5s;
    }

    .btn-search {
        width: 73px;
        height: 38px;
        border-radius: 5px;
        background-color: #212529;
        color: #0DCAF0;
        border: 1px solid #0DCAF0;
        font-size: 16px;
        cursor: pointer;
        transition: .2s;
    }

    .btn-search:hover {
        background-color: #0DCAF0;
        color: #212529;
        transition: .2s;
    }


}